/* Enhanced styling for the admin settings page */
.wrap .form-table th {
    width: 250px;
    font-weight: 600;
}

.wrap .form-table input[type="text"],
.wrap .form-table select {
    width: 400px;
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.wrap .form-table input[type="number"] {
    width: 120px;
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.wrap .form-table input[type="text"]:focus,
.wrap .form-table select:focus,
.wrap .form-table input[type="number"]:focus {
    border-color: #007cba;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 124, 186, 0.5);
}

/* Accordion Styles */
.mpgc-accordion {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin-bottom: 20px;
}

.mpgc-accordion h3 {
    background-color: #f0f0f1;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    font-size: 16px; /* Adjust as needed */
    font-weight: bold;
    margin: 0;
}

.mpgc-accordion h3:hover {
    background-color: #e5e5e5;
}

.mpgc-accordion div {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    display: none; /* Initially hidden */
}

.mpgc-accordion .active {
    display: block;
}

.mpgc-accordion ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mpgc-accordion li {
    list-style-type: decimal;
    margin-left: 20px;
}

.mpgc-accordion img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
}